.App {
    text-align: center;
    width:100vw;
    background-color: #ffe6ba;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #32373a;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hello{
    color:rgb(255, 72, 0)
}

.image1{
    border: 1px solid rgb(190, 113, 113);
    border-radius: 4px;
    /* padding: 5px; */
    width: 25vw;
    margin-top: 5%;
    box-shadow: 5px 5px #888888;
   
}

.leftRectangle{
    margin-left:35%
}


.leftColumn{
    background-color: antiquewhite;
    margin-left: -80%;
    height: 100vh;
    width:50vw,
}


.rightColumn{
    background-color: rgb(183, 218, 255);
    margin-right: -80%;
    height: 100vh;
    width:50vw,
}

.rightRectangle{
    margin-left:35%
}